APP_TELEGRAM_TOKEN=tg_token
GITHUB_TOKEN=github_pat_****WqZ
STACKOVERFLOW_KEY=rl_*****WtC
STACKOVERFLOW_ACCESS_KEY=можно пустым оставить
DB_NAME=db_name
DB_USER=db_user
DB_PASSWORD=db_pass
SCRAPPER_HTTP_URL=http://scrapper:8000
BOT_HTTP_URL=http://bot:8080
SCRAPPER_GRPC_HOST=scrapper
SCRAPPER_GRPC_PORT=9091
BOT_GRPC_HOST=bot
BOT_GRPC_PORT=9091
